In [1]:
import pandas as pd
import numpy as np

In [46]:
df_enrol_2003_04=pd.read_excel("avg_enrol_03_04.xlsx").dropna(axis=1)
df_enrol_2004_05=pd.read_excel("avg_enrol_04_05.xlsx").dropna(axis=1)
df_enrol_2005_06=pd.read_excel("avg_enrol_05_06.xlsx").dropna(axis=1)
df_enrol_2006_07=pd.read_excel("avg_enrol_06-07.xlsx").dropna(axis=1)
df_enrol_2007_08=pd.read_excel("avg_enrol_07_08.xlsx").dropna(axis=1)
df_enrol_2008_09=pd.read_excel("avg_enrol_08_09.xlsx").dropna(axis=1)
df_enrol_2012_13=pd.read_excel("avg_enrol_12_13.xlsx").dropna(axis=1)
df_enrol_2013_14=pd.read_csv("avg_enrol_13_14.png.csv").dropna(axis=1)
df_enrol_2014_15=pd.read_csv("avg_enrol_14_15.png.csv").dropna(axis=1)
df_enrol_2015_16=pd.read_csv("avg_enrol_15_16.png.csv").dropna(axis=1)
df_enrol_2016_17=pd.read_csv("avg_Enrol16-17.png.csv").dropna(axis=1)
df_boys_toilet_2012_13=pd.read_excel("boys_toilet_12_13.xlsx").dropna(axis=1)
df_boys_toilet_2013_14=pd.read_excel("boys_toilet_13_14.xlsx").dropna(axis=1)
df_boys_toilet_2014_15=pd.read_csv("boys_toilet_14_15.csv").dropna(axis=1)
df_boys_toilet_2015_16=pd.read_csv("boys_toilet_15_16.png.csv").dropna(axis=1)
df_boys_toilet_2016_17=pd.read_csv("boys_toilet_16_17.png.csv").dropna(axis=1)
df_common_toilet_2003_04=pd.read_excel("common_toilet_03-04.xlsx").dropna(axis=1)
df_common_toilet_2004_05=pd.read_excel("common_toilet_04-05.xlsx").dropna(axis=1)
df_common_toilet_2005_06=pd.read_excel("common_toilet_05-06.xlsx").dropna(axis=1)
df_common_toilet_2006_07=pd.read_excel("common_toilet_06-07.xlsx").dropna(axis=1)
df_common_toilet_2007_08=pd.read_excel("common_toilet_07-08.xlsx").dropna(axis=1)
df_common_toilet_2008_09=pd.read_excel("common_toilet_08-09.xlsx").dropna(axis=1)
df_comp_2003_04=pd.read_excel("comp_03_04.xlsx").dropna(axis=1)
df_comp_2004_05=pd.read_excel("comp_04_05.xlsx").dropna(axis=1)
df_comp_2005_06=pd.read_excel("comp_05_06.xlsx").dropna(axis=1)
df_comp_2006_07=pd.read_excel("comp_06_07.xlsx").dropna(axis=1)
df_comp_2007_08=pd.read_excel("comp_07_08.xlsx").dropna(axis=1)
df_comp_2008_09=pd.read_excel("comp_08_09.xlsx").dropna(axis=1)
df_comp_2012_13=pd.read_excel("comp_12_13.xlsx").dropna(axis=1)
df_comp_2013_14=pd.read_csv("comp_13_14.png.csv").dropna(axis=1)
df_comp_2014_15=pd.read_csv("comp_14_15.png.csv").dropna(axis=1)
df_comp_2015_16=pd.read_csv("comp_15_16.png.csv").dropna(axis=1)
df_comp_2016_17=pd.read_csv("comp_16_17.png.csv").dropna(axis=1)
df_elec_2003_04=pd.read_excel("elec_03_04.xlsx").dropna(axis=1)
df_elec_2004_05=pd.read_excel("elec_04-05.xlsx").dropna(axis=1)
df_elec_2005_06=pd.read_excel("elec_05-06.xlsx").dropna(axis=1)
df_elec_2006_07=pd.read_excel("elec_06-07.xlsx").dropna(axis=1)
df_elec_2007_08=pd.read_excel("elec_07-08.xlsx").dropna(axis=1)
df_elec_2008_09=pd.read_excel("elec_08-09.xlsx").dropna(axis=1)
df_elec_2012_13=pd.read_excel("elec_12_13.xlsx").dropna(axis=1)
df_elec_2013_14=pd.read_csv("elec_13_14.png.csv").dropna(axis=1)
df_elec_2014_15=pd.read_csv("elec_14_15.png.csv").dropna(axis=1)
df_elec_2015_16=pd.read_csv("elec_15_16.png.csv").dropna(axis=1)
df_elec_2016_17=pd.read_csv("elec_16_17.png.csv").dropna(axis=1)
df_girls_toilet_2003_04=pd.read_excel("girls_toilet_03-04.xlsx").dropna(axis=1)
df_girls_toilet_2004_05=pd.read_excel("girls_toilet_04-05.xlsx").dropna(axis=1)
df_girls_toilet_2005_06=pd.read_excel("girls_toilet_05-06.xlsx").dropna(axis=1)
df_girls_toilet_2006_07=pd.read_excel("girls_toilet_06-07.xlsx").dropna(axis=1)
df_girls_toilet_2007_08=pd.read_excel("girls_toilet_07-08.xlsx").dropna(axis=1)
df_girls_toilet_2008_09=pd.read_excel("girls_toilet_08-09.xlsx").dropna(axis=1)
df_girls_toilet_2012_13=pd.read_excel("girls_toilet_12_13.xlsx").dropna(axis=1)
df_girls_toilet_2013_14=pd.read_excel("girls_toilet_13_14.xlsx").dropna(axis=1)
df_girls_toilet_2014_15=pd.read_csv("girls_toilet_14_15.png.csv").dropna(axis=1)
df_girls_toilet_2015_16=pd.read_csv("girls_toilet_15_16.png.csv").dropna(axis=1)
df_girls_toilet_2016_17=pd.read_csv("girls_toilet_16_17.png.csv").dropna(axis=1)
df_water_2003_04=pd.read_excel("water_03_04.xlsx").dropna(axis=1)
df_water_2004_05=pd.read_excel("water_04-05.xlsx").dropna(axis=1)
df_water_2005_06=pd.read_excel("water_05-06.xlsx").dropna(axis=1)
df_water_2006_07=pd.read_excel("water_06-07.xlsx").dropna(axis=1)
df_water_2007_08=pd.read_excel("water_07-08.xlsx").dropna(axis=1)
df_water_2008_09=pd.read_excel("water_08-09.xlsx").dropna(axis=1)
df_water_2012_13=pd.read_excel("water_12_13.xlsx").dropna(axis=1)
df_water_2013_14=pd.read_excel("water_13_14.xlsx").dropna(axis=1)
df_water_2014_15=pd.read_csv("water_14_15.png.csv").dropna(axis=1)
df_water_2015_16=pd.read_csv("water_15_16.png.csv").dropna(axis=1)
df_water_2016_17=pd.read_csv("water_16_17.png.csv").dropna(axis=1)

In [14]:
df_enrol_2003_04.name=f"{df_enrol_2003_04}"

In [16]:
years=["2003_04","2004_05","2005_06","2006_07","2007_08","2008_09","2012_13","2013_14","2014_15","2015_16","2016_17"]

In [18]:
ls=[]
ls.append(df_enrol_2003_04)

In [19]:
ls.append(df_enrol_2003_04)

In [41]:
def prep(lis):
    total = pd.Datafra
    for d in range(0,len(lis)):
        lis[d]["year"]=years[d]
        
    return lis

In [48]:
r=prep(ls)

In [47]:
years

In [60]:
for d in range(0,len(ls)):
    print(years[d])

2003_04
2004_05
2005_06

In [70]:
ris=[df_enrol_2003_04,df_water_2015_16,df_water_2014_15]

In [110]:
df_comp_2013_14

,State/UT,Primary Only,Primary with Upper Primary,Primary with U. Primary & Sec. & Higher.Sec.,U. Primary with Sec.,All Schools,Functional Computers
0,A & N Islands,30.40,73.68,89.74,*,52.64,81.59
1,Andhra Pradesh,12.73,42.72,86.99,73.23,29.97,62.47
2,Arunachal Pradesh,4.32,45.05,90.63,75.00,24.10,63.83
3,Assam,1.08,29.12,64.75,56.01,7.69,62.71
4,Bihar,1.42,7.61,35.15,12.25,4.51,16.26
5,Chandigarh,54.55,92.31,100.00,.,95.83,91.30
6,Chhattisgarh,2.65,36.67,72.35,16.55,8.89,54.39
7,D & N Haveli,8.84,66.94,100.00,*,35.74,66.67
8,Daman & Diu,14.55,88.89,100.00,100.00,57.52,NR
9,Delhi,80.55,91.82,86.61,58.46,81.59,84.78
10,Goa,12.02,89.66,100.00,100.00,38.57,75.60
11,Gujarat,24.74,90.44,96.98,84.82,72.69,69.51
12,Haryana,7.43,74.87,94.80,94.06,44.15,68.66
13,Himachal Pradesh,3.75,82.75,94.83,50.00,22.47,67.30
14,Jammu & Kashmir,3.60,18.94,87.03,32.58,15.81,65.94
15,Jharkhand,3.10,10.89,77.61,45.03,8.66,64.47
16,Karnataka,9.94,40.01,94.92,70.74,29.93,75.25
17,Kerala,87.96,96.61,97.23,99.67,92.66,76.92
18,Lakshadweep,100.00,100.00,100.00,*,100.00,88.64
19,Madhya Pradesh,3.33,46.61,80.74,54.24,13.09,57.91
20,Maharashtra,28.60,69.20,96.11,91.96,50.63,67.64
21,Manipur,2.13,36.23,96.55,74.83,24.88,58.90
22,Meghalaya,2.97,28.57,96.15,53.59,8.35,59.04
23,Mizoram,9.21,53.92,0.00,*,32.00,61.82
24,Nagaland,4.98,55.35,97.75,86.43,35.09,68.24
25,Odisha,3.91,17.07,80.99,21.12,10.56,36.39
26,Puducherry,98.59,94.90,100.00,100.00,97.63,93.14
27,Punjab,10.64,83.96,97.20,99.84,51.95,86.00
28,Rajasthan,4.51,28.80,70.33,30.67,23.09,26.74
29,Sikkim,29.92,79.40,98.65,0.00,53.33,69.46
30,Tamil Nadu,35.51,82.59,98.96,*,54.12,81.28
31,Tripura,3.59,4.33,59.63,50.00,11.40,58.32
32,Uttar Pradesh,5.53,25.63,50.00,22.71,11.06,36.09
33,Uttarakhand,12.78,77.16,94.20,66.40,31.97,78.86
34,West Bengal,3.94,34.84,67.19,42.04,10.76,62.96
35,All States,9.25,42.14,82.67,59.25,23.30,62.71

In [74]:
r[1]

,State/UT,Primary Only,Primary with Upper Primary,Primary with U. Primary& Sec &Higher Sec,Upper Primary With Sec.,Primary with U. Primary& Sec.,All Schools,year
0,A & N Islands,100.00,100.00,100.00,100.00,100.00,100.00,2004_05
1,Andhra Pradesh,93.07,94.74,100.00,91.81,99.10,93.79,2004_05
2,Arunachal Pradesh,71.88,87.64,100.00,96.15,96.40,78.52,2004_05
3,Assam,91.06,97.07,98.44,98.13,100.00,91.58,2004_05
4,Bihar,90.07,99.09,98.77,98.28,99.73,93.82,2004_05
5,Chandigarh,100.00,100.00,100.00,100.00,100.00,100.00,2004_05
6,Chhattisgarh,99.10,99.44,100.00,100.00,100.00,99.24,2004_05
7,D & N Haveli,100.00,100.00,100.00,100.00,100.00,100.00,2004_05
8,Daman & Diu,100.00,0.00,0.00,100.00,100.00,100.00,2004_05
9,Delhi,100.00,100.00,100.00,100.00,100.00,100.00,2004_05
10,Goa,100.00,100.00,100.00,100.00,0.00,100.00,2004_05
11,Gujarat,99.97,99.92,100.00,100.00,100.00,99.94,2004_05
12,Haryana,99.83,100.00,100.00,99.95,100.00,99.89,2004_05
13,Himachal Pradesh,99.88,100.00,100.00,100.00,100.00,99.84,2004_05
14,Jammu & Kashmir,88.80,92.54,98.98,96.74,96.57,90.81,2004_05
15,Jharkhand,91.93,96.19,100.00,92.68,98.25,93.49,2004_05
16,Karnataka,99.97,99.99,100.00,100.00,100.00,99.98,2004_05
17,Kerala,99.66,100.00,99.52,99.75,100.00,99.74,2004_05
18,Lakshadweep,100.00,100.00,100.00,100.00,100.00,100.00,2004_05
19,Madhya Pradesh,95.57,100.00,100.00,100.00,100.00,95.48,2004_05
20,Maharashtra,99.54,99.76,99.03,100.00,100.00,99.61,2004_05
21,Manipur,99.96,99.78,100.00,100.00,100.00,99.94,2004_05
22,Meghalaya,64.08,85.71,100.00,100.00,80.00,62.20,2004_05
23,Mizoram,92.62,100.00,.,.,.,93.15,2004_05
24,Nagaland,75.48,83.56,100.00,84.09,86.52,79.16,2004_05
25,Odisha,99.26,99.83,100.00,100.00,99.64,99.48,2004_05
26,Puducherry,100.00,100.00,100.00,100.00,100.00,100.00,2004_05
27,Punjab,99.99,100.00,100.00,100.00,100.00,100.00,2004_05
28,Rajasthan,93.95,97.10,97.89,98.59,97.39,95.62,2004_05
29,Sikkim,96.73,98.94,100.00,100.00,100.00,97.93,2004_05
30,Tamil Nadu,100.00,100.00,100.00,100.00,100.00,99.99,2004_05
31,Telangana,89.19,94.76,100.00,94.24,98.80,91.39,2004_05
32,Tripura,85.55,91.34,98.99,100.00,97.94,89.77,2004_05
33,Uttar Pradesh,98.62,98.95,98.96,99.79,100.00,98.14,2004_05
34,Uttarakhand,96.03,94.12,100.00,98.23,100.00,95.99,2004_05
35,West Bengal,98.84,96.80,100.00,99.73,100.00,98.76,2004_05
36,All States,95.97,98.36,98.40,99.35,98.39,96.53,2004_05